* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  margin: 2rem auto;
  width: 75%;
}

header {
  display: flex;
  justify-content: space-between;
}

.title {}

.social-links-container {
  display: flex;
  justify-content: flex-end;
}

.social-links-container img {
  width: 2rem;
}