* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  /* border: 1px solid red; */
}

body {
  margin: 2rem auto;
  width: 75%;
}

header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.social-links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.social-link {
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  transition: border-radius 300ms
}

.social-link:hover {
  border-radius: 50%;
}

/* using a background image on links is much better than embedding an img tag
    because it doesn't mess with the spacing when defining layout */
#github {
  background-image: url(images/github-icon.png);
}

#twitter {
  background-image: url(images/twitter-icon.png);
}

#youtube {
  background-image: url(images/youtube-icon.png);
}