* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.card {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: #59bcff;
  border-radius: 2px;
  border: .5px solid #ccc;
  box-shadow: 2px 2px 3px #9fe1f9;
  margin: 1rem;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  font-family: 'Righteous', cursive;
  color: deeppink;
}