* {
  box-sizing: border-box;
  margin: 1rem;
  padding: 0;
  border: 0;
}

body {
  max-width: 650px;
  margin: 0 auto;
}

div {
  display: block;
  height: 3rem;
  border-radius: 50px;
  border: 3px solid black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

a {
  text-decoration: none;
  color: red;
  margin: 0;
}

a:hover {
  font-size: 2rem;
}