div {
  height: 200px;
}

header, section, footer {
  border: 1px solid orange;
  width: 100%;
  height: 33.33%;
  background-color: blue;
}

.object:nth-child(even):hover {
  background-color: indigo;
}

/*  is header the first child of its parent? then style as stated
always approaching from the child upward. NOT the parent*/
header:first-child {
  background-color: hotpink;
}

li:last-child {
  background-color: lime;
}

li:last-child:hover {
  background-color: lavender;
}

/*you can use compounded pseudo-classes: when hovering over even children, styled as stated below*/
li:nth-child(even):hover {
  background-color: yellow;
}

.box {
  width: 50px;
  height: 50px;
  background-color: red;
  display: inline-block;
}

/* chooses all even numbered children */
.box:nth-child(even) {
  background-color: orange;
}

.list-item {
  font-size: 20px;
  padding: 2px;
}

/* nth-child(n) chooses the 'n'th child: in this case, the second in the list */
.list-item:nth-child(2) {
  color: blue;
}

/* nth-last-child(n) chooses 'n' from the bottom: in this case, the first from the bottom which is the last element */
.list-item:nth-last-child(1) {
  color: red;
}