* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 10vh;
  /* border: 2px solid red; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

main {
  height: 60vh;
  /* border: 5px solid black; */
  /*-----flex properties-----*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  margin-top: 1rem;
}

.card {
  padding: 4rem;
  border: 2px solid rgba(204, 204, 204, .25);
  border-radius: .5rem;
  box-shadow: 2px 2px 3px #ccc;
  /*-----flex properties-----*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: deeppink;
}

footer {
  height: 30vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

footer div {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  padding: 2rem;
  color: white;
}

.foot1 {
  height: 200px;
  background-color: blue;
  justify-content: flex-end;
}

.foot2 {
  height: 100px;
  background-color: green;
  justify-content: flex-end;
}

.foot3 {
  height: 150px;
  background-color: red;
  justify-content: flex-start;
}